<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/main/main-content.css" rel="stylesheet">

<!--    캘린더 관련-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.min.js'></script>
</head>
<body>
<!-- 정보 컨테이너 -->
<div class="info-container">

    <!--    베너 이미지 섹션-->
    <div class="banner-section">
        <img alt="배너 이미지" class="banner-image" src="/assets/logo/image/library.png">
    </div>

    <div class="content-sections">
        <div class="notice-section">
            <h3>공지사항</h3>
            <table class="notice-table">
                <tbody>
                <tr th:each="notice : ${noticePage.content}">
                    <td class="notice-title">
                        <a th:href="@{/iframe/notice/{id}(id=${notice.noticeId})}"
                           th:text="${notice.subject}"></a>
                    </td>
                    <td class="notice-date"
                        th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="calendar-section">
            <h3 id="currentMonthYear"></h3>
            <div id="calendar"></div>
        </div>

        <div class="post-section">
            <h3>학과 게시판 </h3>
            <table class="notice-table">
                <tbody>
                <tr th:each="post : ${postPage.content}">
                    <td class="notice-title">
                        <a th:href="@{/iframe/post/{id}(id=${post.postId})}"
                           th:text="${post.title}"></a>
                    </td>
                    <td class="notice-date"
                        th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 현재 날짜 가져오기
        const now = new Date();

        // 제목 업데이트
        const monthNames = ["1월", "2월", "3월", "4월", "5월", "6월",
            "7월", "8월", "9월", "10월", "11월", "12월"];
        document.getElementById('currentMonthYear').textContent =
            now.getFullYear() + "년 " + monthNames[now.getMonth()];

        // 캘린더 초기화
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'ko',
            height: 'auto',
            firstDay: 0,
            dayMaxEvents: true,
            headerToolbar: false,
            fixedWeekCount: false,
            showNonCurrentDates: false,
            selectable: false,
            initialDate: now,
            dayCellContent: function(info) {
                // '일' 제거하고 숫자만 표시
                return info.dayNumberText.replace('일', '');
            }
        });
        calendar.render();
    });
</script>
</html>