<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link href="/css/iframe/member/select_member.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div id="member-list-table-container">
    <div id="member-list"></div>
</div>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script>
    function getMemberData(memberListGrid){
        fetch('api/members')
            .then(response =>{
                if(!response.ok){
                    throw new Error('Network response was not ok' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                createGrid(memberListGrid, data);
            })
    }
    function createGrid(memberListGrid, memberList){
        const Grid = tui.Grid;
        const member_list = new Grid({
            el: memberListGrid,
            columns: [
                    { header: '멤버 아이디', name: 'memberId' },
                    { header: '학과', name: 'deptName' },
                    { header: '이름', name: 'name' },
                    { header: '전화 번호', name: 'tel' },
                    { header: '주소', name: 'address' },
                    { header: '생년월일', name: 'birthDate' },
                    { header: '계정 상태', name: 'isActive' },
                    { header: '생성일', name: 'createAt' },
                    { header: '최근 수정일', name: 'updateAt' },
                    { header: '개인 이메일', name: 'email' },
                    { header: '증명사진', name: 'fileInfo' },
                    { header: '성별', name: 'genderStr' },
                    { header: '학적 상태', name: 'academicStatusStr' },
                    { header: '학년', name: 'gradeStr' },
                    { header: '회원 구분', name: 'memberTypeStr' },
                    { header: '입학/입사 일자', name: 'startDate' },
                    { header: '졸업 일자', name: 'endDate' }]
            ,
            data: memberList
        })
    }
    getMemberData(document.querySelector("#member-list"));
</script>
</body>
</html>