<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <title>사용자 정보 조회</title>
</head>
<body>
<div>
    <div id="member-list-option-container">
        <select id="member-type-select">
            <option th:value="0" th:text="전체" th:selected="${filter.memberType==null}"></option>
            <option th:each="memberType : ${typeList}" th:text="${memberType.codeName}"
                    th:value="${memberType.codeId}" th:selected="${memberType.codeId == filter.memberType}"></option>
        </select>
        <input id="member-list-select-btn" type="button" value="조회"/>
<!--        클릭시 함수를 실행해 리스트를 보여줌. -->
    </div>
    <div id="member-list"></div>
</div>

<!--리스트를 보여줄 요소-->

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/js/create_grid.js"></script>

<script src="/js/member/select_member.js"></script>
</body>
</html>