<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>휴학/복학 신청</title>
  <link rel="stylesheet" href="/static/css/iframe/iframe.css" th:href="@{/css/iframe/iframe.css}"/>
  <link th:href="@{/css/iframe/curriculum/search-container.css}" rel="stylesheet">

  <script>
    function toggleLeaveDates() {
      const statusCode = document.getElementById('newStatusCodeId').value;
      const leaveDates = document.getElementById('leaveDates');

      console.log(statusCode)
      // 휴학(2)을 선택했을 때만 시작일과 종료일을 보이도록 설정
      if (statusCode === '2' ) {
        leaveDates.style.display = 'block';
      } else {
        leaveDates.style.display = 'none';
      }
    }

    // 페이지 로드 시 초기 상태 확인
    window.onload = function() {
      toggleLeaveDates(); // 초기 상태에 맞게 설정
    }
  </script>
</head>
<body>
<div class="search-container">
  <div class="input-group">
<form th:action="@{/iframe/academic/process-change-request}" th:object="${changeRequestDto}" method="post">
  <input type="hidden" name="memberId" th:value="${changeRequestDto.memberId}">

  <label for="newStatusCodeId">신청</label>
  <select id="newStatusCodeId" name="newStatusCodeId" th:field="*{newStatusCodeId}" onchange="toggleLeaveDates()">
    <option value="2">휴학</option>
    <option value="8">복학</option>
  </select>

  <label for="reason">사유:</label>
  <input type="text" name="reason" id="reason">



  <div id="leaveDates">
  <label for="leaveStartDate">휴학 시작일:</label>
  <input type="date" name="leaveStartDate" id="leaveStartDate">


  <label for="leaveEndDate">휴학 종료일:</label>
  <input type="date" name="leaveEndDate" id="leaveEndDate">
  </div>

  <button type="submit">신청</button>

</form>
  </div>
</div>
</body>
</html>
