<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 목록</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>게시물 목록</h1>
  <a href="/posts/add" class="btn btn-primary mb-3">게시물 추가</a>

  <div th:each="dept, iterStat : ${departments}">
    <h2 th:text="${dept.deptName}">학과 이름</h2> <!-- 학과 이름 표시 -->
    <table class="table">
      <thead>
      <tr>
        <th>번호</th> <!-- 목록 번호 -->
        <th>제목</th>
        <th>작성일</th>
        <th>작성자</th> <!-- 작성자 열 추가 -->
      </tr>
      </thead>
      <tbody>
      <tr th:each="post : ${postsByDepartment[dept.deptId]}">
        <td th:text="${post.postId}"></td>
        <td>
          <a th:href="@{/templates/view/iframe/posts/{id}(id=${post.postId})}" th:text="${post.title}"></a>
        </td>
        <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="'익명'"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>