<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>학과 조회</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <link rel="stylesheet" href="/css/iframe/global/search-container.css"
          th:href="@{/css/iframe/global/search-container.css}"/>
    <link rel="stylesheet" href="/static/css/iframe/global/iframe.css" th:href="@{/css/iframe/global/iframe.css}"/>
</head>
<body>
<div id="dept-list-table-container">
    <div id="dept-list-option-container" class="search-container">
        <div class="input-group">
            <label for="dept-id-input">학과 코드</label>
            <input type="text" id="dept-id-input"/>
        </div>
        <div class="input-group">
            <label for="dept-name-input">학과명</label>
            <input type="text" id="dept-name-input"/>
        </div>
        <div class="input-group">
            <label for="dept-min-student-value-input">최소 인원</label>
            <input type="text" id="dept-min-student-value-input"/>
            <label for="dept-max-student-value-input">최대 인원</label>
            <input type="text" id="dept-max-student-value-input"/>
        </div>
        <div class="input-group">
            <label for="dept-status-input">상태</label>
            <select id="dept-status-input">
                <option th:value="${null}" th:text="전체" selected></option>
                <option th:each="commonCode : ${deptStatus}" th:value="${commonCode.codeId}"
                        th:text="${commonCode.codeName}"
                        th:selected="${commonCode.codeId == selectedDeptStatus}"></option>
            </select>
        </div>
        <div class="input-group"></div>
        <button id="dept-list-select-btn">조회</button>
    </div>
    <div id="dept-list" class="mb-10"></div>
    <div id="dept-update-btn-container" class="btn-container">
        <button id="dept-update-btn" class="edit-button">학과 수정</button>
    </div>
</div>

<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/js/create_grid.js"></script>
<script src="/js/dept/select_dept.js"></script>
</body>
</html>