<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navFragment" class="header-nav">
    <link href="css/nav.css" rel="stylesheet">
    <ul class="nav-list">
        <li><a href="#" th:href="@{/}"><i class="fas fa-tachometer-alt"></i>학사 행정</a></li>
        <li><a href="#" th:href="@{/students}"><i class="fas fa-user-graduate"></i>일반 행정</a></li>
        <li><a href="#" th:href="@{/courses}"><i class="fas fa-book"></i>연구 행정</a></li>
        <li><a href="#" th:href="@{/grades}"><i class="fas fa-chart-bar"></i>부속 기관</a></li>
        <li><a href="#" th:href="@{/grades}"><i class="fas fa-chart-bar"></i>공 통</a></li>
    </ul>
</nav>
</html>