<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>인덱스</title>
</head>
<body>
임시 메인 페이지입니다.
<!-- 파일 업로드 폼 -->
<form action="/file" method="POST" enctype="multipart/form-data">
    <!-- 파일 선택 필드 -->
    <label for="file">파일 선택:</label>
    <input type="file" id="file" name="file" required><br><br>

    <!-- 제출 버튼 -->
    <button type="submit">업로드</button>
</form>
<div th:each="fileId : ${fileIds}">
    <p>test</p>
    <img th:src="@{/file/{fileId}(fileId=${fileId})}"/>
</div>
</body>
</html>