:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --sidebar-width: 200px;
    --min-width: 1024px;  /* 최소 너비 변수 추가 */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: var(--min-width);  /* 최소 너비 설정 */
    overflow: hidden;
}

.header-nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    justify-content: space-between;
    min-width: var(--min-width);
    position: fixed;  /* 헤더 고정 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    margin-right: 20px;
    position: absolute;  /* 추가 */
    right: 0;          /* 추가 */
    top: 25%;          /* 추가 */
    transform: translateY(-50%);  /* 추가 */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 300px;  /* 로고와 타이틀이 겹치지 않도록 */
}

.header-logo img {
    margin-top: 10px;
    margin-left: -30px;
    height: 90px;
    width: auto;
}

.header-title {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;  /* 텍스트 줄바꿈 방지 */
}

.header-title small {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 200;
}

.header-list a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;  /* 텍스트 줄바꿈 방지 */
}

.header-list a:hover {
    background-color: #0056b3;
}

/* 컨테이너 전체에 최소 너비 적용 */
.container {
    min-width: var(--min-width);
    position: relative;
}

.header-member-info-li{
    box-sizing: border-box;
    padding: 15px;
    align-content: space-between;
}

.header-member-info-li span:first-child{
    border: none;
}

.header-member-info-li span {
    padding: 8px 15px;  /* 상하 8px, 좌우 15px */
    height: 70%;
    border-left: 2px solid #ddd;
    margin: 8px 15px;  /* 상하 8px, 좌우 15px */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/* button 태그 크기 조정 */
.session-button {
    font-size: 1.0rem; /* 글자 크기 조정 */
    height: 2.3rem; /* 높이 조정 */
    cursor: pointer; /* 커서 변경 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 2px; /* 모서리 둥글게 */
}

/* 버튼 호버 효과 */
.session-button button:hover {
    background-color: #f5f5f5; /* 호버 시 색상 변경 */
}