/* Tab Container */
.tab-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 7px 30px;
    /*margin: 0 20px;*/
    color: black;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
}

#tabs {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    overflow: hidden; /* 스크롤 제거 */
}

/* 기본 탭 스타일 (비활성화 상태) */
.tab-item {
    padding: 5px 10px;
    background-color: gray; /* 비활성 탭 색상 */
    color: white;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 내용물 사이 간격 조절 */
    position: relative;
    min-width: 100px;
    max-width: 150px;
}

/* 활성화된 탭 스타일 */
.tab-item.active {
    background-color: var(--secondary-color); /* 활성 탭 색상 */
}

/* 탭 내부 텍스트 영역 */
.tab-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 25px); /* 닫기 버튼 공간 확보 */
    margin-right: 5px; /* 닫기 버튼과의 간격 */
}

/* 닫기 버튼 */
.close-tab {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 5px;
    font-size: 14px;
    min-width: 20px; /* 최소 너비 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-tab:hover {
    color: #ff4444;
}

/* 탭 컨트롤 영역 */
.tab-controls {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 2px solid #ddd; /* 세로 구분선 하나만 유지 */
    margin-left: 15px;
    padding-left: 15px;
}

/* 모두 닫기 버튼 */
.close-all {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px;
    color: #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
}

.close-all:hover {
    color: #666;
}

.close-all i {
    font-size: 20px;
}

.iframe-name-container{
    padding: 5px;
    display: flex;
    /*background: #007bff;*/
    margin: 0 20px;
    border-bottom: 1px solid lightgrey;
}

.iframe-name{
    padding: 5px;
    display: flex;
    align-items: center;
}

.iframe-name span{
    font-weight: bold;
    font-size: 24px;
}