/* Tab Container */
.tab-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: whitesmoke;
   padding: 7px 10px; /* 좌우 패딩 조정 */
   color: black;
   margin-top: -10px;
   margin-bottom: 10px;
   width: calc(100% - 60px); /* main-content와 동일한 너비 */
   border: 1px solid #ddd; /* 확인용 테두리 */
   border-radius: 2px;
   box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
   overflow: hidden; /* 탭이 너무 길어질 경우 스크롤 방지 */
}

#tabs {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.tab-item {
   padding: 5px 10px;
   background-color: var(--secondary-color);
   color: white;
   margin-right: 5px;
   border-radius: 4px;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 5px;
   white-space: nowrap; /* 탭 텍스트 줄바꿈 방지 */
}

.tab-item.active {
   background-color: gray;
}

.tab-item .close-tab {
   background: none;
   border: none;
   color: white;
   cursor: pointer;
   font-size: 12px;
}

.tab-item .close-tab:hover {
   color: gray;
}

.close-all {
   background-color: gray;
   border: none;
   color: white;
   padding: 5px 10px;
   border-radius: 4px;
   cursor: pointer;
}

.close-all:hover {
   background-color: dimgray;
}
