<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <link rel="stylesheet" href="/css/iframe/global/search-container.css"
          th:href="@{/css/iframe/global/search-container.css}"/>
    <link rel="stylesheet" href="/static/css/iframe/global/iframe.css" th:href="@{/css/iframe/global/iframe.css}"/>
    <title>회원 생성 페이지</title>
</head>
<body>
<div id="member-input-container">
    <div id="members-option-input-container" class="search-container">
        <div class="input-group">
            <label for="dept-id-input">학과</label>
            <select id="dept-id-input" required>
                <option th:each="dept : ${depts}" th:value="${dept.deptId}" th:text="${dept.deptName}"></option>
            </select>
        </div>
        <div class="input-group">
            <label for="start-date-input">입학/입사일</label>
            <input type="date" id="start-date-input" required>
        </div>
        <div class="input-group">
            <label for="member-type-input">회원 구분</label>
            <select id="member-type-input" required>
                <option th:each="memberType : ${memberTypes}" th:value="${memberType.codeId}"
                        th:text="${memberType.codeName}"></option>
            </select>
        </div>
    </div>
    <div id="member-input-grid" class="mb-10"></div>
    <!--  요소를 보여줄 그리드  -->

    <div class="btn-container">
        <input type="button" id="add-row-button" class="edit-button" value="열 추가"/>
        <input type="button" id="delete-row-button" class="edit-button" value="열 삭제"/>
        <input type="button" id="grid-add-member-button" class="edit-button" value="계정 생성"/>
    </div>
</div>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/js/create_grid.js"></script>
<script>
    const columns = [
        {header: "이름", name: "name", editor: 'text', align: 'center'},
        {header: "전화번호", name: "tel", editor: 'text'},
        {header: "주소", name: "address", editor: 'text'},
        {header: "생년월일", name: "birthday", editor: 'text'},
        {header: "이메일", name: "email", editor: 'text'},
        {
            header: "성별", name: "gender",
            editor: {
                customStyle: false, // 기본 스타일 제거 (적용 가능한 경우)
                type: 'select',
                options: {
                    listItems: [
                        {text: '남자', value: '남자'},
                        {text: '여자', value: '여자'},
                    ]
                }
            }
        }
    ]

    let grid = new tui.Grid({
        el: document.getElementById('member-input-grid'),
        data: [], // 초기 데이터 없음
        columns: columns,
        columnOptions: {
            width: 'auto',
        },
        bodyHeight: 400,
        bodyWidth: 1300,
        scrollY: true,
        rowHeaders: ['checkbox'], // 체크박스를 사용하여 행 선택
        editingEvent: 'click'
    });

    // 입력 행 추가 버튼 동작
    document.getElementById("add-row-button").addEventListener("click", () => {
        grid.appendRow({});
    });

    // 행 삭제 버튼 동작
    document.getElementById("delete-row-button").addEventListener("click", () => {
        const checkedRows = grid.getCheckedRows(); // 체크된 행 가져오기

        if (checkedRows.length === 0) {
            alert("삭제할 행을 선택하세요."); // 체크된 행이 없으면 경고
            return;
        }

        // 데이터가 있는지 확인 (빈 행인지 판단)
        const hasData = checkedRows.some(row =>
            row.name?.trim() !== "" ||
            row.subjectDesc?.trim() !== "" ||
            row.subjectCredits
        );

        if (hasData) {
            const confirmDelete = confirm("정말 삭제하시겠습니까?");
            if (!confirmDelete) {
                return; // 사용자가 삭제를 취소하면 종료
            }
        }

        grid.removeCheckedRows(); // 체크된 행 삭제
    });

    const postBtn = document.getElementById("grid-add-member-button");

    // 데이터 저장
    postBtn.addEventListener("click", () => {
        // 체크된 행만 가져오기
        const rows = grid.getCheckedRows();

        if (rows.length === 0) {
            alert("저장할 행을 선택하세요."); // 체크된 행이 없으면 경고
            return;
        }

        const emptyNameRows = rows.filter(row => !row.name || row.name.trim() === "");

        if (emptyNameRows.length > 0) {
            alert("비어 있는 행이 존재합니다");
            return;
        }

        postBtn.disabled = true;

        const deptId = document.querySelector("#dept-id-input").value || null;
        const startDate = document.querySelector("#start-date-input").value || null;
        const memberTypeId = document.querySelector("#member-type-input").value || null;

        fetch(`/api/member`, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                memberDTOs: grid.getCheckedRows(),
                deptId: deptId,
                isActive: null,
                academicStatusId: null,
                memberTypeId: memberTypeId,
                startDate: startDate,
            })
        })
            .then(response => {
                if (!response.ok) {
                    alert("멤버 추가 실패!");
                    postBtn.disabled = false;
                    throw new Error('Request failed with status ' + response.status);
                }
                alert("멤버 추가 성공");
                location.reload();
            })
    })
</script>
</body>
</html>